@charset "UTF-8";
/* CSS Document */

ul,li{
	list-style:none;
}
p.thumb{
    border: 1px solid #aaa;
    display:block;
    width:180px; /*トリミング後の横幅*/
    height:180px; /*トリミング後の縦幅*/
    overflow:hidden;
    position:relative;
    z-index:1;
}
p.thumb img{
    float:left;
    position:absolute;
}
.post-date {
	color: #BCBABA;
	font-size:10px;
}
.post-name {
	color:#848484;
	font-size:12px;
}

